# Environment
.env

# Python
venv/
__pycache__

# Postgres
postgres_data/

# Go
*.bin
*_bin
*bin

# Frontend
frontend/node_modules
frontend/.next

# Frontend central
frontend-central/node_modules
frontend-central/.next

# Frontend nodo
frontend-nodo/node_modules
frontend-nodo/.next