# Environment
.env

# Python
venv/
__pycache__

# Postgres
postgres_data/

# Go
*.bin
*_bin
*bin


# Central
Central_Hospital/Traceability/node_modules
Central_Hospital/Traceability/.next
*.next
#departamento 
Departamento/Supplies_Registry/node_modules

#Sqlite
Departamento/Inventory_Service/*.db

# Testing
auxiliar/